<a href="https://colab.research.google.com/github/Faareh-Ahmed/Biomass-Prediction-from-3D-Point-Cloud/blob/main/pointcloud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os

# Base directory inside content/sample_data
base_dir = '/content/sample_data/TextFilesData/20190828'

# Create folders from Tony e-w_20190828_001 to Tony e-w_20190828_013
for i in range(1, 14):
    folder_name = f'Tony-e-w_20190828_{str(i).zfill(3)}'
    folder_path = os.path.join(base_dir, folder_name)
    os.makedirs(folder_path, exist_ok=True)

print("Folders created successfully!")

Folders created successfully!

In [4]:
base_dir_2 = '/content/sample_data/TextFilesData/20191002'
# Create folders from Tony e-w_20191002_001 to Tony e-w_20191002_013
for i in range(1, 14):
    folder_name = f'Tony-e-w_20191002_{str(i).zfill(3)}'
    folder_path = os.path.join(base_dir_2, folder_name)
    os.makedirs(folder_path, exist_ok=True)

print("Folders created successfully!")

Folders created successfully!

In [5]:
cd /content/sample_data/TextFilesData

/content/sample_data/TextFilesData

In [6]:
import pandas as pd

# Path to the train_list.txt file
train_list_path = '/content/sample_data/TextFilesData/train_list.txt'

# Read the file into a DataFrame
df = pd.read_csv(train_list_path, delim_whitespace=True, header=None)

# Display the DataFrame
print(df)

                  0                               1        2   3   4  5
0    /20190828/Tony    e-w_20190828_001/1-5-1-b.pcd   380.60   3   1  3
1    /20190828/Tony    e-w_20190828_001/1-7-1-b.pcd   309.27   4   1  3
2    /20190828/Tony    e-w_20190828_001/1-9-1-b.pcd   303.53   5   1  3
3    /20190828/Tony   e-w_20190828_001/1-11-1-b.pcd   410.57   6   1  3
4    /20190828/Tony   e-w_20190828_001/1-13-1-b.pcd   204.15   7   1  3
..              ...                             ...      ...  ..  .. ..
199  /20191002/Tony  e-w_20191002_013/13-11-1-b.pcd  1177.20   6  13  4
200  /20191002/Tony  e-w_20191002_013/13-13-1-b.pcd   941.60   7  13  4
201  /20191002/Tony  e-w_20191002_013/13-14-1-b.pcd   568.00   8  13  4
202  /20191002/Tony  e-w_20191002_013/13-17-1-b.pcd   853.00  11  13  4
203  /20191002/Tony  e-w_20191002_013/13-18-1-b.pcd   686.00  12  13  4

[204 rows x 6 columns]

<ipython-input-6-853a622e4250>:7: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(train_list_path, delim_whitespace=True, header=None)

In [7]:
df.head()

                0                              1       2  3  4  5
0  /20190828/Tony   e-w_20190828_001/1-5-1-b.pcd  380.60  3  1  3
1  /20190828/Tony   e-w_20190828_001/1-7-1-b.pcd  309.27  4  1  3
2  /20190828/Tony   e-w_20190828_001/1-9-1-b.pcd  303.53  5  1  3
3  /20190828/Tony  e-w_20190828_001/1-11-1-b.pcd  410.57  6  1  3
4  /20190828/Tony  e-w_20190828_001/1-13-1-b.pcd  204.15  7  1  3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       204 non-null    object
 1   1       204 non-null    object
 2   2       204 non-null    float64
 3   3       204 non-null    int64
 4   4       204 non-null    int64
 5   5       204 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 9.7+ KB

In [9]:
df[0]=df[0]+df[1]
df[0]

0        /20190828/Tonye-w_20190828_001/1-5-1-b.pcd
1        /20190828/Tonye-w_20190828_001/1-7-1-b.pcd
2        /20190828/Tonye-w_20190828_001/1-9-1-b.pcd
3       /20190828/Tonye-w_20190828_001/1-11-1-b.pcd
4       /20190828/Tonye-w_20190828_001/1-13-1-b.pcd
                           ...
199    /20191002/Tonye-w_20191002_013/13-11-1-b.pcd
200    /20191002/Tonye-w_20191002_013/13-13-1-b.pcd
201    /20191002/Tonye-w_20191002_013/13-14-1-b.pcd
202    /20191002/Tonye-w_20191002_013/13-17-1-b.pcd
203    /20191002/Tonye-w_20191002_013/13-18-1-b.pcd
Name: 0, Length: 204, dtype: object

In [10]:
df[0] = df[0].str.replace('.pcd', '.txt')
df[0]

0        /20190828/Tonye-w_20190828_001/1-5-1-b.txt
1        /20190828/Tonye-w_20190828_001/1-7-1-b.txt
2        /20190828/Tonye-w_20190828_001/1-9-1-b.txt
3       /20190828/Tonye-w_20190828_001/1-11-1-b.txt
4       /20190828/Tonye-w_20190828_001/1-13-1-b.txt
                           ...
199    /20191002/Tonye-w_20191002_013/13-11-1-b.txt
200    /20191002/Tonye-w_20191002_013/13-13-1-b.txt
201    /20191002/Tonye-w_20191002_013/13-14-1-b.txt
202    /20191002/Tonye-w_20191002_013/13-17-1-b.txt
203    /20191002/Tonye-w_20191002_013/13-18-1-b.txt
Name: 0, Length: 204, dtype: object

In [11]:
df = df.drop(columns=[1])

In [12]:
df.head()

                                             0       2  3  4  5
0   /20190828/Tonye-w_20190828_001/1-5-1-b.txt  380.60  3  1  3
1   /20190828/Tonye-w_20190828_001/1-7-1-b.txt  309.27  4  1  3
2   /20190828/Tonye-w_20190828_001/1-9-1-b.txt  303.53  5  1  3
3  /20190828/Tonye-w_20190828_001/1-11-1-b.txt  410.57  6  1  3
4  /20190828/Tonye-w_20190828_001/1-13-1-b.txt  204.15  7  1  3

In [22]:
import pandas as pd

def load_and_process_point_cloud_data(file_path):
    # Load the data from the .txt file
    data = pd.read_csv(file_path, delim_whitespace=True, header=None)

    # Convert columns to numeric, coercing errors to NaN
    data[0] = pd.to_numeric(data[0], errors='coerce')
    data[1] = pd.to_numeric(data[1], errors='coerce')
    data[2] = pd.to_numeric(data[2], errors='coerce')
    data[3] = pd.to_numeric(data[3], errors='coerce')

    # Check the structure of your data
    if data.shape[1] != 4:
        raise ValueError("Data should contain four columns: x, y, z, intensity")

    # Drop rows with NaN values if any
    data = data.dropna()

    # Compute features from point cloud data
    features = {
        'mean_x': data[0].mean(),
        'mean_y': data[1].mean(),
        'mean_z': data[2].mean(),
        'mean_intensity': data[3].mean(),
        'max_x': data[0].max(),
        'max_y': data[1].max(),
        'max_z': data[2].max(),
        'max_intensity': data[3].max(),
        'min_x': data[0].min(),
        'min_y': data[1].min(),
        'min_z': data[2].min(),
        'min_intensity': data[3].min(),
        'std_x': data[0].std(),
        'std_y': data[1].std(),
        'std_z': data[2].std(),
        'std_intensity': data[3].std(),
        'count': data.shape[0]  # Number of points
    }

    return features

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [17]:
row[0]

'/20190828/Tonye-w_20190828_001/1-5-1-b.txt'

In [ ]:
/content/sample_data/TextFilesData/20190828/Tony-e-w_20190828_001/1-5-1-b.txt

In [23]:
# Initialize lists to hold feature data and biomass labels
X = []
y = []

flag=0
# Loop through each row in the DataFrame
for index, row in df.iterrows():
    flag=1
    # Load and process point cloud data
    # file_path = f"/content/sample_data/TextFilesData{row[0]}"  # Adjust path as needed
    file_path=f"/content/sample_data/TextFilesData/20190828/Tony-e-w_20190828_001/1-5-1-b.txt"
    features = load_and_process_point_cloud_data(file_path)

    # Append the features and biomass value to the lists
    X.append(list(features.values()))
    y.append(row[2])  # Assuming column 2 contains biomass values
    if flag==1:
      break

# Convert lists to DataFrame
X_df = pd.DataFrame(X)
y = np.array(y)

<ipython-input-22-aa61def95b7a>:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv(file_path, delim_whitespace=True, header=None)

In [24]:
X_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-43.504957,69473.15047,205.38183,2.015264,506.16803,69981.78125,1361.179688,17.0,-573.764038,68988.507812,0.0,1.0,306.807912,288.032551,111.736191,1.681079,38783

In [28]:
y

array([380.6])